* Styles for larger screens /
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* / Styles for smaller screens / */
@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 90%;
  }
}

/* / Common styles for all screens */ */
.cont {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: darkgreen;
  }
